<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 py-5">
            <form action="/users" method="POST">
                <div class="form-group mb-3">
                    <label for="first_name" class="visually-hidden">First Name</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-person"></i></span>
                        <input 
                            class="form-control {{#if errors}}is-invalid{{/if}}" 
                            type="text" 
                            id="first_name"
                            name="first_name" 
                            value="{{input.first_name}}"
                            placeholder="First Name" 
                        >
                        {{#if errors}}
                            {{#each errors}}
                                {{#if (equals path "first_name")}}
                                    <div class="invalid-feedback px-1">{{msg}}</div>
                                {{/if}}
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
                
                <div class="form-group mb-3">
                    <label for="last_name" class="visually-hidden">Last Name</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-person"></i></span>
                        <input
                            class="form-control {{#if errors}}is-invalid{{/if}}"
                            type="text"
                            name="last_name"
                            value="{{input.last_name}}"
                            placeholder="Last Name" 
                        >
                        {{#if errors}}
                            {{#each errors}}
                                {{#if (equals path "last_name")}}
                                    <div class="invalid-feedback px-1">{{msg}}</div>
                                {{/if}}
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
                
                <div class="form-group mb-3">
                    <label for="email" class="visually-hidden">Email</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                        <input 
                            class="form-control {{#if errors}}is-invalid{{/if}}" 
                            type="email" 
                            name="email"
                            value="{{input.email}}" 
                            placeholder="Email"
                        >
                        {{#if errors}}
                            {{#each errors}}
                                {{#if (equals path "email")}}
                                    <div class="invalid-feedback px-1">{{msg}}</div>
                                {{/if}}
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
                
                <div class="form-group mb-3">
                    <label for="department" class="visually-hidden">Department</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-building"></i></span>
                        <input 
                            class="form-control {{#if errors}}is-invalid{{/if}}" 
                            type="text" 
                            name="department"
                            value="{{input.department}}"
                            placeholder="Department"
                        >
                        {{#if errors}}
                            {{#each errors}}
                                {{#if (equals path "department")}}
                                    <div class="invalid-feedback px-1">{{msg}}</div>
                                {{/if}}
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
                
                <button type="submit" class="btn btn-outline-dark w-100 p-0"> 
                    <i class="bi bi-person-plus fs-3"></i>
                </button>
            </form>
        </div>
    </div>
</div>
