<div class="container py-4">
  <div class="card mx-auto" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4 p-3">
        <img src="https://ui-avatars.com/api/?name={{user.first_name}}+{{user.last_name}}&rounded=true&size=128" 
             class="img-fluid rounded-circle" 
             alt="{{user.first_name}} {{user.last_name}}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title px-3 fs-3">{{user.first_name}} {{user.last_name}}</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>ID:</strong> {{user.id}}</li>
            <li class="list-group-item"><strong>Email:</strong> {{user.email}}</li>
            <li class="list-group-item"><strong>Department:</strong> {{user.department}}</li>
          </ul>
          <div class="d-flex justify-content-end gap-2 p-3">
            <a href="/users/edit/{{user.id}}" class="btn btn-outline-secondary" id="editBtn">
              <i class="bi bi-pencil"></i>
            </a>
            <form action="/users/{{user.id}}?_method=DELETE" method="POST" class="d-inline">
              <button type="button" class="btn btn-secondary" id="deleteBtn" onclick="deleteUser()">
                <i class="bi bi-trash"></i>
              </button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/details.js"></script>
