<div class="container py-4">
  <div class="card mx-auto" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4 p-3">
        <img src="https://ui-avatars.com/api/?name={{user.first_name}}+{{user.last_name}}&rounded=true&size=128" 
             class="img-fluid rounded-circle" 
             alt="{{user.first_name}} {{user.last_name}}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title px-3 fs-3">
            <span class="name" id="firstName">{{user.first_name}}</span>
            <span class="name" id="lastName">{{user.last_name}}</span>
            <i class="bi bi-pencil ms-2 small fs-6 text-secondary cursor-pointer field-edit-button d-none" data-field="name"></i>
          </h2>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>ID:</strong> {{user.id}}</li>
            <li class="list-group-item">
              <strong>Email:</strong> 
              <span id="email">{{user.email}}</span>
              <i class="bi bi-pencil ms-2 small fs-6 text-secondary cursor-pointer field-edit-button d-none" data-field="email"></i>

            </li>
            <li class="list-group-item">
              <strong>Department:</strong> 
              <span id="department">{{user.department}}</span>
              <i class="bi bi-pencil ms-2 small fs-6 text-secondary cursor-pointer field-edit-button d-none" data-field="department"></i>
            </li>
          </ul>
          <div class="d-flex justify-content-end gap-2 p-3">
           <button type="button" class="btn btn-outline-secondary" id="editBtn" onclick="editUser()">
                <i class="bi bi-pencil"></i>
            </button>
            <form action="/users/{{user.id}}?_method=DELETE" method="POST" class="d-inline">
              <button type="button" class="btn btn-secondary" id="deleteBtn" onclick="deleteUser()">
                <i class="bi bi-trash"></i>
              </button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/details.js"></script>
